* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Formula1-Regular";
  src: url("../assets/font/Formula1-Regular.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Formula1-Bold";
  src: url("../assets/font/Formula1-Bold.otf") format("woff");
}

@font-face {
  font-family: "Formula1-Wide";
  src: url("../assets/font/Formula1-Wide.otf") format("woff");
}
body,
html {
  background: #000;
  height: 100%;
  width: 100%;
  font-family: "Formula1-Regular", sans-serif;
  color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  cursor: url('./assets/cursor.png') 16 16, auto;
}
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 10px 20px;
  top: 0;
  left: 0;
  z-index: 1000;
  backdrop-filter: blur(5px);
}
.scrolled {
  background-color: rgba(0, 0, 0, 0.5);
}
.leftHalf {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.leftHalf img {
  height: 60px;
  margin-right: 10px;
}
.Midtext{
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Midtext .gif {
  height: 45px;
  margin-left: 10px;
  vertical-align: baseline;
  user-select: none;
}
.byText {
  color: #fff;
  font-family: "Formula1-Regular", sans-serif;
  font-weight: 200;
  font-size: 2em;
}
.verticalDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heroSection {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.heroSubtitle {
  font-family: "Formula1-Bold", sans-serif;
  font-size: 75px;
  line-height: 70px;
}
.heroSubtitle span{
  color: #dc2626;
  
}
.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.time {
  font-family: "Formula1-Bold", sans-serif;
  font-size: 50px;
  margin: 0 10px;
  text-align: center;
}
.time span {
  display: block;
  font-size: 20px;
  font-family: "Formula1-Regular", sans-serif;
  text-align: center;
}
.registerButtonContainer {
  margin-top: 20px;
}
.registerButton {background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%)}
.registerButton {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;              
   border-radius: 10px;
   display: block;
 }
 .registerButton:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
 }
.registerButton {
  display: inline-block;
  padding: 10px 20px;
  font-family: "Formula1-Bold", sans-serif;
  font-size: 20px;
}
.leftHero {
  width: 50vw;
  margin-right: 50px;
  text-align: center;
}
.rightHero img {
  width: 40vw;
}
.hero-container {
  background-image: url("../assets/F1-track.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.5); /* Add box shadow to the bottom */
}

.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #dc2626;
  transition: background-color 0.3s ease;
}

.modal-close-btn:hover {
  background-color: rgba(236, 189, 189, 0.1);
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal {
  position: relative;
  background: #111;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  text-align: center;
}
.modal h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.modal-content {
  max-height: 300px;
  overflow-y: auto;
  padding-right: 20px;
  margin-bottom: 20px;
}
.modal-content p {
  font-size: 16px;
  text-align: left;
}
/* .modal-content p br {
  display: block;
  margin-bottom: 10em;
} */
.closeButton {
  background: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
.closeButton:hover {
  background: #cc0000;
}
.registerButton {
  background-image: linear-gradient(to right, #e52d27 0%, #b31217 51%, #e52d27 100%);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
}
.registerButton:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
@media (max-width: 768px) {
  .leftHalf img {
    height: 38px;
    margin-right: 5px;
  }
  .Midtext{
    display: none;
  }
  .hero-container {
    min-height: 100vh;
    background-size: cover;
  }
  .byText {
    font-size: 1em;
  }
  .heroSection {
    flex-direction: column;
    margin-top: -50px;
  }
  .heroSubtitle {
    font-size: 30px;
    line-height: 45px;
    text-align: center;
  }
  .rightHero {
    display: none;
  }
  .countdown {
    padding: 3px;
  }
  .time {
    font-size: 28px;
    margin: 5px 0;
    margin-right: 10px;
  }
  .time span {
    font-size: 16px;
  }
  .registerButton {
    font-size: 16px;
    padding: 8px 16px;
  }
  .leftHero {
    width: 100vw;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-align: center;
  }
}